/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.parent{
	-fx-background-color: transparent ;
}
.pane{
	-fx-background-color: #E5E8E8;
}
.addCh{
	-fx-background-color: MediumSeaGreen	;
}
.trans-btn-white-border{
	-fx-background-color: red ;
	-fx-background-radius: 5px;
	-fx-border-color: #cccccc;
	-fx-border-radius: 5px;
	-fx-border-width: 1px;
	-fx-text-fill: whitesmoke ;
}
.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}
.btnMain {
 -fx-text-fill: white;
 -fx-min-height: 30;
 -fx-min-width: 80;
 -fx-background-color: #337ab7;
}
.white-pane{
	-fx-background-image: url("/images/hotel1.jpg");
	-fx-background-size: 400 386;
	-fx-background-position: center center;
	-fx-background-color: #FFFFFF;
}
.tf_box{
	-fx-background-color: transparent ;
	-fx-border-color: #DEDEE4;
	-fx-border-width: 0px 0px 1px 0px;
}
.tf{
	-fx-background-color: transparent ;
	-fx-prompt-text-fill: #2C2C2C;
}
.pink-btn{
	-fx-background-color: #C5304D;
	-fx-background-radius: 5px;
	-fx-text-fill: #FFFFFF;
}
.buttonT{
    -fx-border-color: gray;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1.3em; /* 12 */
    -fx-text-fill: #FFFFFF;
}
.rich-blue {
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}
.buttonex {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(OrangeRed, coral);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.buttonG {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: #239B56;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.buttonValid {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: rgb(136,191,81);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.buttonl {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: Grey;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.buttonB {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color:DodgerBlue;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.buttonR {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color:Red;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.nav{
	  -fx-background-color: linear-gradient(to right,#6096b4,#88bf51);
	
}

  .button:pressed {
        -fx-scale-y: 0.9;
        -fx-scale-x: 0.9;
}

 .dialog-pane{
  -fx-border-color:#E5E8E8;
  -fx-border-width:2.0px;
 }

/**Costumization of The Bar where the buttons are located**/
.dialog-pane > .button-bar > .container {
  -fx-background-color:#E5E8E8;
}

.dialog-pane > .content.label {
   -fx-padding: 0.5em 0.5em 0.5em 0.5em;
   -fx-text-fill:black;
   -fx-font-size:15.0px;
}

/**Costumization of DialogPane Header**/
.dialog-pane:header .header-panel {
  -fx-background-color: linear-gradient(to right,#6096b4,#88bf51);
    -fx-text-fill:#FDFEFE;
  
}

.dialog-pane:header .header-panel .label{
  -fx-background-radius:10px;
  -fx-text-fill:black;
  -fx-font-size:15.0px;
}


/**Costumization of Buttons**/
.dialog-pane .button{
  -fx-background-color: linear-gradient(to right,#6096b4,#88bf51);
   -fx-text-fill:white;
   -fx-wrap-text: true;
   -fx-cursor:hand;
 }

.dialog-pane .button:hover{     
  -fx-background-color:white;
  -fx-text-fill:black;
  -fx-font-weight:bold; 
 }

.chart{
	-fx-padding:10px;
}
.chart-content{
		-fx-padding:10px;
	
}
.chart-series-line{
	-fx-stroke-width:6px;
}

.default-color0.chart-series-line{
	-fx-stroke:#6096b4;
}
.default-color1.chart-series-line{
	-fx-stroke:#88bf51;
}
.default-color0.chart-line-symbol{
	-fx-background-color:#6096b4,white;
}
.default-color1.chart-line-symbol{
-fx-background-color:#88bf51,white;}

























